* {
    margin: 0;
    padding: 0;



}

body {

    background-image: radial-gradient(circle, rgba(250, 157, 201, 0.2) 0%, rgba(253, 226, 226, 0.1) 100%), url(./img/brideOne.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    background-attachment: fixed;
    height: 100%;
    font-family: 'Italianno', cursive;
    display: flex;

}

video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;

    height: 100%;

    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
}


.contenedor {

    max-width: 100%;
    height: 100%;
    /*ancho máximo de la página*/
    margin: 0px auto;
    /*auto permite centrar nuestra página en forma horizontal*/
    display: grid;

    /*nos ahorramos tenes que poner márgenes entre los elementos*/

    /*3 columnas: contenido (con 2 widgets) + sidebar*/
    grid-template-columns: repeat(4, 1fr);

    /*4 filas: header, contenido, widgets, footer*/
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "encabezado encabezado encabezado encabezado"
        "sidebar sidebar sidebar sidebar"
        "contenido contenido contenido contenido"
        "pie pie pie pie";
}

.contenedor>div,
.contenedor .encabezado,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .pie {
    padding: 0px;
    border-radius: 0px;
    width: 100%;

}

.contenedor .encabezado {


    min-width: 100%;
    max-height: 100%;

    background-repeat: no-repeat;
    background-color: black;

    grid-area: encabezado;
    height: 100%;
    color: antiquewhite;
    opacity: 50%;
    font-size: 30px;
    display: grid;
    animation-name: shower;
    animation-duration: 10s;
    position: initial;


}



.contenedor .contenido {


    position: relative;
    grid-area: contenido;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    justify-content: center;
    padding: 30px;
    height: 1470px;
    
}

.contenedor .sidebar {


    display: flex;
    background-color: black;
    opacity: 50%;
    color: antiquewhite;
    grid-area: sidebar;
    margin: 0;
    padding: 0;
    width: 1510px;
    height: 90%;
    font-family: 'Poppins', sans-serif;
    font-weight: 900px;
}

.sidebar a {
    background: black;
    display: flex;

    color: antiquewhite;
    font-weight: bolder;

    padding: 16px;

    text-decoration: none;
    text-align: center;
    float: none;


}

.boton {
    display: flex;
    font-weight: bolder;
    background-color: black;
    color: black;

    margin: 0px;
    padding: 16px;
    text-decoration: none;
    text-align: center;
    float: none;

    border-radius: 0px;


}

.boton:hover {
    transform: scale(1.1);
    background-color: rgb(156, 156, 156);
    opacity: 70%;
    color: rgb(239, 236, 238)
}


.media {
    align-content: flex-end;
    margin: 10px;
}




.contenedor .pie {

    background: #454647;
    display: flex;
    color: antiquewhite;
    grid-area: pie;
    display: inline-block;

    height: 250px;
    width: 100%;

    font-family: 'Poppins', sans-serif;
    font-weight: bolder;






}


.encabezado1 {
    font-family: 'italianno', cursive;
    text-align: center;
    color: antiquewhite;
    font-size: 25px;
    padding: 5px;


}

.sociales {
    color: antiquewhite;

    padding-bottom: 2px;
    margin-left: 12px;
}

.copyright {

    align-content: end;
    text-align: right;
    padding: 10px;
    color: antiquewhite;
    margin-bottom: 10px;
}

.titulo2 {
    margin-left: 10px;

    color: antiquewhite;
    font-weight: bolder;
}

.copyright:hover {
    filter: blur(2px);
    transition: 0.2s;
}

#block1 {
    display: block
}

#block2 {
    display: none
}
#block3 {
    display: none
}

@media screen and (max-width: 768px) {
    .contenedor {
        grid-template-areas: "encabezado encabezado encabezado encabezado "
            "sidebar sidebar sidebar sidebar "
            "contenido contenido contenido contenido"
            "pie pie pie pie";
        display: grid;
        width: 100%;

    }

    video {
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 105%;
        min-height: 100%;

        height: 100%;

        transform: translateX(calc((100% - 100vw) / 2));
        z-index: -2;
    }




    #block1 {
        display: none;

    }

    #block2 {
        display: block;
    }
    #block3 {
        display: none
    }

    .contenedor .encabezado {

        position: relative;
        grid-area: encabezado;
        display: flex;
        height: 100px;
        align-items: center;
        width: 690px;
        font-size: 15px;
    }



    .contenedor .contenido {
        grid-area: contenido;
        display: flexbox;
        height: 950px;
        width: 760px;

    }

    .contenedor .sidebar {
        display: flex;

        grid-area: sidebar;
        background-color: black;
        opacity: 50%;
        color: antiquewhite;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 90%;
        font-family: 'Poppins', sans-serif;
        font-weight: 900px;
        font-size: 10px;   }

    .sidebar a {
        background: black;
        display: flex;

        color: antiquewhite;
        font-weight: bolder;

        padding: 16px;

        text-decoration: none;
        text-align: center;
        float: none;

    }

    .carousel {
        width: 600px;
        
    }

    .contenedor .pie {

        background: #454647;
        color: antiquewhite;
        grid-area: pie;
        display: block;
        height: 250px;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;






    }

    .copyright {
        align-items: end;
        margin-right: 30px;
    }

    .encabezado1 {
        font-family: 'italianno', cursive;
        text-align: center;
        color: antiquewhite;
        font-size: 25px;
        padding: 5px;
        

    }
}

@media screen and (max-width: 450px) {
    .contenedor {
        grid-template-areas: "encabezado encabezado encabezado encabezado"
            "sidebar sidebar sidebar sidebar"
            "contenido contenido contenido contenido"
            "pie pie pie pie";
        display: grid;
        width: 850px;
        position:absolute;
        
    
        


    }


    video {
        position:absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        

        transform: translateX(calc((100% - 100vw) / 2));
        z-index: -2;
    }




    #block1 {
        display: none;

    }

    #block2 {
        display: none;
    }
    #block3 {
        display:block;
    }

    .contenedor .encabezado {

        position: relative;
        grid-area: encabezado;
        display:block;
        height: 100px;
        align-items:center;
        align-content: center;
        width: 100%;
        font-size: 30px;

    }



    .contenedor .contenido {
        grid-area: contenido;
        display: block;
        height: 100%;
        width: 100%;

    }

    .contenedor .sidebar {
        display: block;

        grid-area: sidebar;
        background-color: black;
        opacity: 50%;
        color: antiquewhite;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 90%;
        font-family: 'Poppins', sans-serif;
        font-weight: 900px;
    }

    .sidebar a {
        background: black;
        display: block;

        color: antiquewhite;
        font-weight: bolder;

        padding: 16px;

        text-decoration: none;
        text-align: center;
        float: none;

    }

    .carousel {
        width: 100%;
        opacity: 50%;
    }

    .contenedor .pie {

        background: #454647;
        color: antiquewhite;
        grid-area: pie;
        display: flex;
        height: 250px;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;






    }

    .copyright {
        align-items: end;
        margin-right: 30px;
    }

    .encabezado1 {
        text-align: center;
        font-size: 40px;
        font-weight: lighter;
        padding: 5px;
    }

    .contenedor .contenido {
        grid-area: contenido;
        display: block;
        background-size: cover;
        height:100%;
        align-content: center;
    }

    boton {
        display: block;
        font-weight: bolder;
        background-color: black;
        color: black;

        margin: 0px;
        padding: 16px;
        text-decoration: none;
        text-align: center;
        float: none;

        border-radius: 0px;


    }

    .boton:hover {
        transform: scale(1.1);
        background-color: rgb(156, 156, 156);
        opacity: 70%;
        color: rgb(239, 236, 238)
    }

}